body {
    background-color: #F8F0E3;
    margin: 0;
    padding-top: 60px;
}

.conteudo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    padding: 10px;
    margin: 10px;
    margin-bottom: 120px;
}

#texto01 {
    text-align: center;
}

.texto_espacado {
    margin-top: 40px;
    margin-bottom: 60px;
}

.listas_espacadas {
    margin-top: 20px;
}

.conteudo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    margin-top: 120px;
}

/* Se caso tiver imagem */
.imagemresponsiva {
    max-width: 100%;
    height: auto;
}

mark {
    background-color: #abc27c;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #3b8132;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: 
    #52a447;
}

.toggle-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .toggle-menu {
        display: block;
    }

    .menu-links {
        display: none;
        padding: 0;
        width: 100%;
    }

    .toggle-menu.active + .menu-links {
        display: block;
    }

    .menu-links li {
        text-align: center;
        margin-top: 10px;
    }

    .menu-links li a {
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
        
    }

    .menu-links li a:hover {
        background-color: #abc27c;
    }
}

    /* Restante do seu CSS permanece o mesmo */
@media screen and (max-width: 768px) {
    /* Restante do seu CSS para dispositivos móveis permanece o mesmo */
    
    .menu-links.active {
        display: block;
        position: absolute;
        background-color: #3b8132;
        top: 60px;
        left: 0;
        width: 100%;
    }
}

.rodape {
    background-color: #3b8132;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
  }